body {
  background-color: #25231f;
  margin: 0px 0px 0px 0px;
}
.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 50px;

  .child-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

textarea {
  font-size: x-large;
}
